mat-card {
  display: inline-block;
  width: 300px;
  padding: 20px;
}

mat-form-field {
  width: 500px;
  max-width: 100%;
}

button {
  margin-left: 12px;
}

mat-spinner {
  width: 36px !important;
  height: 36px !important;
  display: inline-block;
  margin-left: 24px;
  position: relative;
  top: 6px;
}
