$card-padding: 20px;

mat-card {
  display: inline-block;
  width: 100%;
  padding: $card-padding;
  height: 180px;
  cursor: pointer;

  &:hover button {
    display: block;
  }
}

.description {
  max-height: 100px;
  display: -webkit-box;
  // todo: support non-webkit browsers
  -webkit-line-clamp: 4; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-button {
  position: absolute;
  top: 12px;
  right: 12px;
  display: none;
}

.created {
  position: absolute;
  left: $card-padding;
  bottom: $card-padding - 5px;
  // TODO: use proper angular material color scheme
  color: #898989;
}
